.locationCont{
    width: 100%;
    height: 50px;
    text-align: left;
    color: #888;
    overflow: auto;
}
.locationCont h1{
    margin: 0;
    white-space: nowrap;
}
.weatherLocationCont{
    width: calc(100%-20px);
    margin-left: 10px;
    margin-right: 10px;
    padding: 25px;
    box-sizing: border-box;
    box-shadow: 10px 10px 40px -12px rgba(0, 0, 0, 0.75);
    font-family: 'Roboto', sans-serif;
}

